{erl_opts, [debug_info]}.

{deps, [
    {cowboy, "2.9.0"},
    {ranch, "2.1.0"},
    {jsx, "3.1.0"},
    {riakc, ".*", {git, "https://github.com/basho/riak-erlang-client.git", {tag, "3.0.13"}}}
]}.

{plugins, [
    rebar3_hex
]}.

{shell, [
    {apps, [inets, cowboy]}
]}.

% Add common_test as a dependency for the test profile
{profiles, [
    {test, [
        
    ]}
]}.

% Ensure the package_tracking_system starts automatically
{relx, [
    {release, {package_tracking_system, "0.1.0"},
     [package_tracking_system, sasl]}
]}.

{shell, [
    {config, "config/sys.config"}, %% If you have additional config files
    {init, [{cowBoyServer, start, []}]}
]}.
